.features-section {
    width: 95%;
    max-width: 1520px;
    border: 1px solid #cacaca;
    margin: auto;
    display: grid;
    grid-template-columns: 640px 640px;
  
    @media (max-width: 1400px){
      grid-template-columns: 570px 570px;
    }
    @media (max-width: 1200px){
      grid-template-columns: 1fr;
    }
    @media (max-width: 768px){
      grid-template-columns: 1fr;
    }
  
    .features-header{
      .features-header-container{
        margin-top: 70px;
        margin-right: 90px;
        margin-left: 90px;
  
        .btn-yellow{
          padding: 15px 165px;
          
        }
  
        h6{
          font-size: 18px;
          color: red;
          font-weight: 500;
          padding-bottom: 30px;
        }
        h2{
          font-family: 'DM Sans', sans-serif;
          font-weight: 700;
          font-size: 45px;
          padding-bottom: 50px;
          
        }
  
        @media (max-width: 1200px){
          margin: 40px;
        }
        @media (max-width: 768px){
          margin: 15px;
          margin-top: 25px;
          text-align: center;
        }
        h6{
          @media (max-width: 1200px){
            text-align: center;
            
          }
        }
        h2{
          @media (max-width: 1200px){
            text-align: center;
            margin-top: 25px;
            margin-bottom: 43px;
          }
        }
        .login-button{
          width: 95%;
  
          @media (max-width: 1200px){
            margin: auto;
            margin-bottom: 50px;
            width: 75%;
          }
          @media (max-width: 768px){
            margin-bottom: 0;
          }
        }
      }
    }
    .features-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 85px;
      margin-left: 30px;
  
      @media (max-width: 1400px){
        margin-left: 0;
      }
      @media (max-width: 1200px){
        margin: 0;
      }
      @media (max-width: 768px){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin-bottom: 30px;
      }
  
      .features-grid-container{
        margin-top: 80px;
        margin-right: 130px;
        width: 200px;
  
        @media (max-width: 1400px){
          margin-right: 100px;
        }
        @media (max-width: 1200px){
          margin: auto;
          margin-bottom: 60px;
        }
        @media (max-width: 768px){
          margin: auto;
          margin-top: 80px;
          text-align: center;
        }
        i{
          font-size: 30px;
          margin-bottom: 13px;
        }
        h3{
          font-family: 'DM Sans', sans-serif;
          font-size: 22px;
          font-weight: 700;
          margin-top: 15px;
          margin-bottom: 15px;
         
        }
        p{
          font-family: 'DM Sans', sans-serif;
          font-size: 16px;
          font-weight: 400;
          margin: 0;
        }
      }
    }
  }