footer{
    background-color: #0E1021;
  
    p, a{
      color: rgb(189, 189, 189);
    }
    .footer-nav{
      position: relative;
      .footer-element{
        position: absolute;
        bottom: 0;
        right: 0;
        pointer-events: none;
      }
      .footer-nav-2{
        max-width: 1380px;
        padding: 100px 40px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
  
        @media (max-width: 1200px){
          grid-template-columns: 1fr;
          padding: 60px 20px;
        }
        .footer-about{
          margin-right: 25px;
          p{
            margin-bottom: 0;
          }
  
          @media (max-width: 1200px){
            margin: auto;
            margin-bottom: 20px;
            width: 500px;
            img{
              display: block;
              margin: auto;
              margin-bottom: 22px;
            }
            p{
              text-align: center;
            }
          }
          @media (max-width: 768px){
            max-width: 500px;
            width: 80%;
          }
        }
        nav{
          display: flex;
          justify-content: space-between;
          margin-left: 15px;
  
          @media (max-width: 768px){
            margin: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
            justify-content: space-around;
            gap: 20px;
          }
          div{
            @media (max-width: 768px){
              text-align: center;
            }
            h4{
              color: white;
              margin-bottom: 30px;
            }
            a{
              display: block;
              text-decoration: underline;
              margin: 15px 0;
              transition: text-decoration 0.15s ease-in-out;
  
              &:hover{
                text-decoration: underline 1px solid rgb(189,189,189);
              }
            }
          }
        }
      }
    }
    .footer-bottom{
      border-top: 1px solid #ffffff2c;
  
      .footer-bottom-container{
        max-width: 1380px;
        padding: 10px 40px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        @media (max-width: 768px){
          display: block;
        }
        .social{
          a{
            margin-left: 25px;
            color: white;
            i{
              font-size: 16px;
              transition: color 0.1s ease-in-out;
  
              &:hover{
                color: #ffffff;
              }
            }
          }
          @media (max-width: 768px){
            display: none;
          }
        }
        .mobile{
          display: none;
          a{
            margin: 0;
          }
  
          @media (max-width: 768px){
            display: flex;
            justify-content: space-around;
            width: 200px;
            margin: auto;
            margin-top: 15px;
          }
        }
        p{
          @media (max-width:768px){
            text-align: center;
          }
        }
      }
    }
  }