.meet-our-team{
    background-color: #F0D082;
  
    .team-container{
      max-width: 1380px;
      padding: 60px 40px;
  
      margin: auto;
  
      .team-header{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-top: 60px;
  
        @media (max-width: 768px){
          display: block;
        }
  
        .team-header-container{
  
          h6{
            font-size: 18;
            font-weight: 500;
            color: red;
            padding-bottom: 15px;
          }
          h2{
            font-size: 45px;
            font-weight: 700;
            font-family: 'DM Sans', sans-serif;
            
          }
        }
        .btn-transparent{
          margin-left: 25px;
          min-width: 180px;
          
  
          @media (max-width: 768px){
            margin: auto;
            margin-top: 25px;
          }
        }
      }
      .team-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, 308px);
        justify-content: space-around;
  
        .team-grid-container{
          margin-top: 80px;
          h4{
            font-family: 'DM Sans', sans-serif;
            font-size: 22;
            font-weight: 500;
            margin-bottom: 2px;
            margin-top: 20px;
  
          }
        }
      }
      span{
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 1.2rem;
  
        .dot{
          height: 0.6rem;
          width: 0.6rem;
          border-radius: 50%;
          background-color: #000;
          opacity: 0.3;
  
          &:first-child {
            opacity: 1;
          }
        }
      }
    }
  }