.why-choose-us{
    position: relative;
  
    .box{
      height: 55%;
      width: 53%;
      z-index: 998;
      position: absolute;
      right: 0;
      bottom: 60px;
      background-color: #F0EFE9;
  
      @media (max-width: 768px){
        display: none;
      }
    }
    .why-choose-us-container{
      max-width: 1380px;
      padding: 60px 40px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      @media (max-width: 768px){
        padding: 60px 20px;
      }
      .why-choose-us-header{
        h6{
          font-size: 18px;
          font-weight: 500;
          color: red;
          padding-bottom: 35px;
        }
        h2{
          font-family: 'DM Sans', sans-serif;
          font-size: 45px;
          font-weight: 600;
          margin-bottom: 0;
          width: 60%;
  
          @media (max-width: 1200px){
            width: 90%;
          }
          @media (max-width: 992px){
            width: 100%;
          }
        }
        .why-choose-us-grid{
          @media (max-width: 768px){
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
          }
          .why-choose-us-header-container{
            display: flex;
            margin-top: 45px;
  
            @media (max-width: 768px){
              justify-content: center;
            }
          }
          .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 25px;
            margin-top: auto;
            margin-bottom: auto;
            height: 62px;
            padding: 0 15px;
            border: 1px solid rgb(214, 214, 214);
            border-radius: 50%;
  
            i{
              font-size: 30px;
            }
          }
          .text{
            h4{
              margin: 0;
            }
            p{
              margin: 0;
              margin-top: 5px;
  
              @media (max-width: 992px){
                width: 95%;
              }
              @media (max-width: 768px){
                width: 100%;
              }
            }
          }
        }
      }
      img{
        z-index: 999;
  
        @media (max-width: 1400px){
          width: 500px;
        }
        @media (max-width: 1200px){
          width: 450px;
        }
        @media (max-width: 992px){
          width: 350px;
        }
        @media (max-width: 768px){
          display: none;
        }
      }
    }
  }